<div class="login_component">
          <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="login_tabs is-login w-tabs">
            <div class="login_tab-content w-tab-content">
              <div data-w-tab="Tab 1" class="login_tab-pane w-tab-pane w--tab-active">
                <div class="login_form is-login w-form">
                  <h1 class="heading-style-h2 text-align-center">Connexion</h1>
                  {% form 'customer_login', return_to: '/account', class: 'form_form' %}
{% if form.errors %}    <div li-if="form.errors" class="form_error-message">
    
                      <div li-object="form.errors | default_errors" class="text-size-regular text-color-red text-align-center">{{ form.errors | default_errors }}</div>
                        </div>
{% endif %}
                    <div class="form_field-wrapper"><label for="field" class="form_hidden-label">Email Address</label><input class="form_input w-input" maxlength="256" name="customer[email]" data-name="Field" placeholder="Email" type="email" id="field"></div>
                    <div class="form_field-wrapper"><label for="field" class="form_hidden-label">Password</label><input class="form_input w-input" maxlength="256" name="customer[password]" data-name="Field" placeholder="Mot de passe" type="password" id="field" required=""></div><input type="submit" data-wait="Please Wait" id="w-node-_455b5e7f-7d92-45ec-12d5-1f82dc391424-ed6e2ab8" class="button max-width-full is-secondary w-button" value="Connexion">
                  {% endform %}
                  <div class="text-size-regular text-align-center">Vous n’avez pas de compte ? <a href="{{ routes.account_register_url }}" li-object:href="routes.account_register_url" class="text-style-link text-weight-bold">Créez votre compte ici.</a>
                  </div>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="login_hinweis-kachel w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 2" class="login_tab-pane w-tab-pane">
                <div class="login_form w-form">
                  <h2 class="heading-style-h2 text-align-center">Reset Password</h2>
                  <p class="text-size-regular text-align-center">In order to receive a new password, you need to enter your email address below, and we will send you an email with further instructions immediately.</p>
                  {% form 'recover_customer_password', class: 'form_form' %}
<div class="form_field-wrapper"><label for="field" class="form_hidden-label">Email Address</label><input class="form_input w-input" maxlength="256" name="email" data-name="Field" placeholder="Email Address" type="email" id="field"></div><input type="submit" data-wait="Please wait..." class="button max-width-full w-button" value="Reset">
                  {% endform %}
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="login_tab-menu w-tab-menu">
              <a data-w-tab="Tab 1" class="login_tab-link w-inline-block w-tab-link w--current">
                <div class="text-style-link text-weight-bold">Login</div>
              </a>
              <a data-w-tab="Tab 2" class="login_tab-link w-inline-block w-tab-link">
                <div>Vous avez oublié votre mot de passe ? <span class="text-style-link text-weight-bold">Réinitialiser mon mot de passe</span></div>
              </a>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Login",
    "class": "section_login",
    "presets": [
        {
            "name": "Login",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}