<div data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related" class="padding-global padding-section-medium product-recommendations">
          <div class="container-large">
            <div class="headline-wrapper">
              <h2 class="heading-style-h2">
{{ section.settings.text_titre }}
</h2>
            </div>
            <div class="splide slider">
              <div class="splide__track">
                <div class="splide__list">
                  {% for product in recommendations.products %}    <div li-for="product in recommendations.products" class="splide__slide">
                                    
                    
                            {% render 'product_item', product: product %}
                            
                  
                        </div>
{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script>
  document.addEventListener('DOMContentLoaded', function() {
    const productRecommendationsSection = document.querySelector('.product-recommendations');
    const url = productRecommendationsSection.dataset.url;
    fetch(url)
      .then(response => response.text())
      .then(text => {
      const html = document.createElement('div');
      html.innerHTML = text;
      const recommendations = html.querySelector('.product-recommendations');
      if (recommendations && recommendations.innerHTML.trim().length) {
        productRecommendationsSection.innerHTML = recommendations.innerHTML;
      }
    })
      .catch(e => {
      console.error(e);
    });
  });
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Product-Recommended",
    "class": "section_product-recommended",
    "settings": [
        {
            "id": "text_titre",
            "type": "text",
            "label": "Titre",
            "default": "Achetez avec"
        }
    ],
    "presets": [
        {
            "name": "Product-Recommended",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}